
    <form>
        <div class="search-box">
            <div class="search-icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="search-clear">
                <i class="fa fa-times"></i>
            </div>
            <input class="search-field" type="text" ng-model="searchQuery" placeholder="Sök">
        </div>
    </form>

    <div class="row">

        <div class="col-xs-3 hide-mobile"><h3>Plats</h3></div>
        <div class="col-xs-9"><h3>Lopp</h3></div>

    </div>

    <div ng-repeat="race in races" class="row list-item">
        <a href="#/Run/{{ race.id }}">
            <div class="col-xs-3">{{ race.town }}</div>
            <div class="col-xs-9">{{ race.name }}</div>
        </a>
    </div>

    <div class="text-center">
        <button class="show-more click click-blue" ng-click="showMore()">Visa fler</button>
    </div>
    <div id="paginateSpinner"><i class="fa fa-spinner fa-spin"></i></div>
